SPRING_DOCKER_DATASOURCE_URL=docker_database_url
MYSQL_DATABASE: 'mysql_database_name'
MYSQL_ROOT_PASSWORD: 'mysql_password'
SPRING_DATASOURCE_URL=db_url
SPRING_DATASOURCE_USERNAME=db_username
SPRING_DATASOURCE_PASSWORD=db_password
SPRING_JPA_HIBERNATE_DDL_AUTO=schema_strategy

SECRET_KEY= secret_key